$pink_color: #ef0081;
$gray_color: #62575f;
.about {
  .center {
    text-align: center;
  }
  .welcomesection {
    margin: 60px 0 40px 0;

    .col-sm-6 {
      img {
        width: 100%;
        margin-top: 50px;
        border-radius: 10px;
      }
      h1 {
        font-size: 35px;
        margin-top: 70px;
        margin-left: 15px;
      }
      p {
        padding: 15px;
        letter-spacing: 0em;
        font-weight: 300;
        font-size: 15px;
        line-height: 1.7;
        color: rgba(0, 0, 0, 0.781);
      }
    }
    .col-sm-4 {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .trends {
    padding: 70px 20px;
    .col-sm-4 {
      padding: 30px;
      h2 {
        font-size: 20px;
        letter-spacing: 0.02em;
        margin: 0 0 15px;
        line-height: 1.1;
        color: black;
        font-weight: bold;
      }
      h3 {
        font-size: 15px;
        letter-spacing: 0em;
        font-weight: 300;
        font-size: 15px;
        line-height: 1.7;
      }
    }
  }
  .bannerimgae {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;
    height: 500px;
    // background-attachment: fixed;
    padding: 80px 0px;
    h4 {
      font-size: 30px;
      color: white;
      text-align: center;
      padding: 10px;
      font-weight: 700;
    }
    h5 {
      font-size: 18px;
      color: white;
      text-align: center;
      font-weight: 400;
    }
    h6 {
      font-size: 15px;
      color: white;
      text-align: center;
      line-height: 25px;
      letter-spacing: 1px;
    }
    button {
      border: none;
      padding: 15px 30px;
      border-radius: 30px;
      margin-top: 30px;
      color: $gray_color;
      background-color: white;
      transition: 0.4s;
      &:hover {
        background-color: $pink_color;
        color: white;
        transition: 0.4s;
      }
    }
  }
  .clientsection {
    padding: 50px;
    h3 {
      text-align: center;
      font-style: italic;
      font-size: 24px;
      font-weight: 300px;
      padding: 10px;
    }
    h4 {
      font-size: 40px;
      text-align: center;
      padding-bottom: 40px;
    }
    p {
      font-size: 16px;
      line-height: 35px;
      color: $gray_color;
      text-align: center;
      padding-bottom: 70px;
    }
    span {
      text-align: center;
      font-size: 17px;
      padding: 15px;
      padding-bottom: 100px;
      border-bottom: #020202;
      img {
        border-radius: 50%;
      }
    }
    .spandotactive {
      background-color: $pink_color;
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      display: inline-block;
      padding: 7px;
      border-radius: 30px;
    }
    .spandot {
      background-color: $gray_color;
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      display: inline-block;
      border-radius: 30px;
      padding: 7px;
      margin-top: 30px;
      &:hover {
        background-color: $pink_color;
      }
    }
  }
  .teamsection {
    margin: 100px 0px 100px 0px;
    h1 {
      font-size: 30px;
      text-align: center;
    }
    h2 {
      font-size: 16px;
      text-align: center;
    }
    .col-sm-3 {
      img {
        border-radius: 10px;
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
      }
      h3 {
        text-align: center;
        font-size: 17px;
        font-weight: bold;
      }
      h4 {
        text-align: center;
        font-size: 16px;
      }
    }
    .text {
      text-align: center;
      margin-bottom: 50px;
    }
    .layer {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.404);
      transition: 0.4s;
      border-radius: 10px;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transition: 0.3s ease;
      transition: 0.3s ease;
    }
    i {
      font-size: 17px;
      background-color: #302e2e;
      color: rgba(255, 255, 255, 0.856);
      border-radius: 2px;
      padding: 10px;
      &:hover {
        background-color: #ef0081;
      }
    }
    .fbicon {
      position: absolute;
      top: 80%;
      left: 12%;
    }
    .instaicon {
      position: absolute;
      top: 80%;
      left: 35%;
    }
    .youtubeicon {
      position: absolute;
      top: 80%;
      left: 55%;
    }
    .pintresticon {
      position: absolute;
      top: 80%;
      left: 75%;
    }

    .wrapper {
      position: relative;
      &:hover .layer {
        display: block;
        transition: 0.4s;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
      }
    }
    .shortdisc {
      background: #de5648;
      display: inline-block;
      margin: auto;
      width: 70px;
      height: 4px;
    }
  }
  .quote {
    color: #ffffff;
    background: $pink_color;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    content: "\f10d";
    font-size: 28px;
    text-align: center;
  }
}
