.bigstore {
  background-color: #d9f3f4;
  padding: 40px 10px 40px 10px;
  margin-top: 80px;
  .grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }
  h1 {
    background-color: white;
    color: orangered;
    font-family: cursive;
    text-align: center;
    border-radius: 30px;
    width: 40%;
    margin: -70px auto 20px;
    box-shadow: 0 1px 6px 0 rgba(0, 33, 36, 0.28);
    padding: 10px;
  }
  p {
    font-size: 17px;
    margin-top: 70px;
    text-align: center;
    color: gray;
    &:hover {
      color: #17a2a7;
    }
  }
  // i {
  //   padding: 10px;
  // }
}
