.brand {
  margin: 0px 50px 0px 50px;
  background: #a2895826;

  .content {
    width: 60%;
    margin: 20px auto;
    padding: 15px 0px;

    .brand_slider {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      .text {
        font-size: 15px;
        background: #80808094;
        padding: 10px 25px;
        border-bottom-right-radius: 40px;
        border-top-right-radius: 40px;
        left: 50px;
        position: absolute;
        .top {
          color: black;
        }
      }

      img {
        width: 10%;
        margin: 0px 0px 0px 10px;
      }
    }
  }
}
