.demo {
  .main {
    margin: 50px 0px;
    width: 100%;
    text-align: center;
    .button {
      transition: 10s linear 2s;
      padding: 10px 30px;
      color: white;
      border: none;
      background: linear-gradient(to right, red, blue);
      transition: 10s linear;
      &:hover {
        background: linear-gradient(to right, blue, red);
        transition: 10s linear 2s;
      }
    }
  }
  .image {
    position: relative;
    margin: 50px;
    transition: 1s linear;
    &:hover .layer {
      display: block;
      transition: 1s linear;
    }
    &:hover .layer .text {
      display: block;
      transition: 1s linear;
    }
    .layer {
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, #0000ffbf, #87ceeba3);
      display: none;
      .text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: whitesmoke;
        display: none;
      }
    }
    img {
      width: 100%;
    }
  }
}
