.categoryWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-top: 70px;
  margin-bottom: 70px;
}
.category {
  width: 100%;
  height: 100%;
  .categorycontents {
    position: relative;
    width: 100%;
    height: 100%;

    h2 {
      font-size: 25px;
      color: white;
    }
    h3 {
      font-size: 35px;
      color: white;
      font-weight: bold;
    }
    button {
      color: rgb(7, 7, 7);
      padding: 5px 30px;
      border: 1px solid white;
      background-color: white;
      // box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
      //   0 1px 2px 0 rgba(0, 0, 0, 0.06);
      margin-top: 20px;

      &:hover {
        border: 1px solid white;
        background-color: transparent;
        color: white;
      }
    }
    .categorytext {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -40%);
    }
    img {
      width: 100%;
      border-radius: 20px;
      transition: 0.4s;
      box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
      &:hover {
        transition: 0.4s;
        transform: scale(1.1);
        opacity: 1;
      }
    }

    .hidenn {
      // overflow: hidden;
      // border-radius: 20px;
      height: 100%;
    }
  }

  &:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    height: 100%;
  }
  &:nth-child(2) img {
    // width: auto;
    height: 100%;
  }
  .layeronimage {
    background-color: rgba(0, 0, 0, 0.295);
    width: 100%;
    position: absolute;
    height: 100%;
    border-radius: 20px;
  }
}
