.categoryHorizontal {
  background-image: url("https://cdn.shopify.com/s/files/1/0033/7064/7667/files/img-6_a33c061f-a99a-4704-843d-3fe3b22a2c45_1920X.jpg?v=1531383183");
  background-size: cover;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  position: relative;
  .layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0000003d;
  }
  .textcenter {
    width: 100%;
    text-align: center;

    p {
      color: black;
      font-size: 30px;
      padding: 85px 0px 10px 0px;
    }

    h1 {
      color: $textcolor;
      font-size: 50px;
    }
  }

  .rowspace {
    padding: 100px 0px;
    margin: 0px;
    .card {
      background-color: white;
      margin: 10px 0px;
      border-radius: 10px;

      .rowpadd {
        padding: 0px 0px;
        margin: 0px;

        .image {
          padding-left: 0px;

          .img {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
          }
        }

        .text {
          padding: 40px 0px 0px 0px;
          .title {
            font-size: 18px;
            font-weight: bold;
            color: $black_color;
            &:hover {
              color: $textcolor;
            }
          }
          .para {
            width: 100%;
            padding: 0px 0px 30px 0px;
            color: $text_color;
            border-bottom: 1px solid $horrizontal_textClor;
          }
          .rowpadd {
            .price {
              padding: 0px 0px 0px 0px;
              text-align: left;
              font-size: 20px;
              margin-left: 0px;
              color: $horrizontal_textClor;
            }
            .cart {
              padding: 0px 0px 0px 0px;
              text-align: right;
              font-size: 20px;
              color: $horrizontal_textClor;
            }
          }
        }
      }
    }
  }
}
