.Checkout {
  margin: 80px 0px 80px 0px;
  .firstsection {
    padding-right: 80px;
    img {
      width: 23%;
    }
    p {
      margin: 20px 0px;
      span {
        margin: 0px 5px;
        font-size: 13px;
      }
    }
    .contactInfo {
      .contact {
        font-size: 1.28571em;
        color: #333333;
      }

      .para {
        font-size: 15px;
        color: gray;
        span {
          color: $textcolor;
        }
      }
      .inputbox {
        width: 100%;
        border: none;
        border: 1px solid $checkout_color;
        padding: 15px 0px 10px 8px;
        border-radius: 5px;
        font: inherit;
        color: #737373;
      }
      .checklist {
        margin: 10px 0px 60px 0px;
        position: relative;
        .check {
          border-color: $checkout_color;
          background-color: transparent;
          border-radius: 4px;
          width: 18px;
          height: 18px;
          color: $checkout_color;
          position: absolute;
        }
        span {
          position: absolute;
          margin: 4px 0px 0px 30px;
        }
      }
    }
    .shipping {
      p {
        font-size: 1.28571em;
        color: #333333;
      }
      .rowpadding {
        margin-bottom: 10px;
        .inputwrapper {
          width: 100%;
        }
      }
      .inputClass {
        border: none;
        border: 1px solid $checkout_color;
        width: 100%;
        margin: 10px 0px;
        padding: 15px 8px;
        border-radius: 5px;
        font: inherit;
        color: #737373;
      }
      .rowmargin {
        margin-top: 10px;
        margin-left: -15px;
        #select {
          border: none;
          border: 1px solid $checkout_color;
          padding: 15px 5px;
          width: 100%;
          border-radius: 5px;
          color: #737373;
          font: inherit;
        }
        #pinCode {
          border: none;
          border: 1px solid $checkout_color;
          padding: 15px 5px;

          border-radius: 5px;
          color: #737373;
          font: inherit;
        }
      }
      .save {
        margin: 13px 0px 60px 0px;
        position: relative;
        .check {
          border-color: $checkout_color;
          background-color: transparent;
          border-radius: 4px;
          width: 18px;
          height: 18px;
          color: $checkout_color;
          position: absolute;
        }
        span {
          position: absolute;
          margin: 4px 0px 0px 30px;
        }
      }
      .button {
        text-align: right;
        margin: 0px 0px 20px 0px;
        button {
          border: none;
          padding: 20px 30px;
          background-color: $textcolor;
          color: $white;
          border-radius: 10px;
          transition: 0.4s;
          &:hover {
            background-color: #bc0065;
            transition: 0.4s;
          }
        }
      }
    }
  }

  .cart {
    border-left: 1px solid $checkout_color;
    height: 100vh;

    .Solidborder {
      border-bottom: 1px solid $checkout_color;
    }
    .padding {
      margin-left: 20px;
    }
    .margin {
      margin-top: 20px;
    }
    .margin3 {
      margin-bottom: 15px;
    }
    .margin2 {
      margin-bottom: 20px;
    }
    .rightalign {
      text-align: right;
      color: black;
      font-weight: bold;
    }
    .right {
      text-align: right;
      color: #737373;
      font-size: 13px;
    }
    .fontColor {
      color: black;
      font-weight: bold;
    }
    .boldfont {
      color: black;
      font-size: 20px;
      span {
        font-weight: normal;
        font-size: 13px;
      }
    }
    .leftalign {
      text-align: left;
      color: #737373;
    }
  }
}
