.ContactForm {
  .firstsection {
    padding: 80px 0px;
    text-align: center;
    .round {
      height: 50px;
      width: 50px;
      border-radius: 30px;
      background-color: #000;
      margin-left: 105px;
      &:hover {
        background-color: #d4af77;
      }
    }
    h3 {
      color: #000;
      font-weight: 800;
      margin-bottom: 15px;
      text-transform: uppercase;
      font-size: 16px;
    }
    .info {
      color: #000;
      font-size: 13px;
    }
  }
  .padd {
    padding: 20px 40px;
    .map {
      width: 100%;
      height: 80vh;
      border: none;
    }
  }
  .rowpadd {
    padding: 100px 0px;

    .inputboxes {
      display: block;
      margin: 20px 0px;
      width: 100%;
      padding: 15px;
      background: #fafafa;
      border: 1px solid #eeeeee;
      font-size: 12px;
    }
    .heading {
      text-transform: uppercase;
      margin-bottom: 30px;
      color: #000;
      font-weight: bold;
    }

    #message {
      width: 100%;
      height: 18vh;
      margin-top: 77px;
      background: #fafafa;
      border: 1px solid #eeeeee;
      padding: 10px;
    }
    .contact-button {
      width: 100%;
      padding: 15px 0px;
      background-color: #000;
      color: white;
      border: none;
      transition: 0.6s;
      margin: 20px 0px;
      &:hover {
        background-color: #d4af77;
        transition: 0.6s;
      }
    }
  }
  // .iconsection {
  //   border-bottom: 1px solid gray;

  //   ul {
  //     li {
  //       display: inline-block;
  //       width: 200px;
  //       text-align: center;
  //       margin: 30px 0px;
  //       i {
  //         position: relative;

  //         z-index: 55;
  //         left: 30%;
  //         &:hover {
  //           display: block;
  //         }

  //         &::before {
  //           content: "";
  //           position: absolute;
  //           width: 50px;
  //           height: 50px;
  //           background-color: #000;
  //           border-radius: 30px;
  //         }
  //       }
  //     }
  //   }
  // }
}
