.footer {
  background-position: center;
  background-repeat: no-repeat;
  border-top: 1px solid rgba(128, 128, 128, 0.329);
  width: 100%;
  .row {
    margin: 0px;
  }

  .col-sm-3 {
    padding: 30px;
    margin-bottom: 50px;
    h2 {
      padding: 10px;
    }
    i {
      padding-right: 8px;
      font-size: 15px;
    }

    h5 {
      padding: 5px;
      color: gray;
      &:hover {
        color: rgb(255, 17, 97);
      }
    }
  }

  h4 {
    background-color: #62575f;
    font-size: 15px;
    padding: 20px;
    color: rgba(255, 255, 255, 0.705);
    margin-bottom: 0px;
  }
}
