.header {
  position: relative;
  width: 100%;
  h5 {
    display: inline;
    padding: 10px;
    margin-left: 20px;
    font-size: 15px;

    &:hover {
      color: rgb(245, 67, 150);
    }
  }
  i {
    padding: 5px;
    font-size: 16px;
  }
  .row {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .inputserachbox {
    padding: 10px 0px 10px 15px;
    width: 90%;
    // border-radius: 30px;
    border: 1px solid #dfe1e5;
    background-color: white;
    color: black;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    &:hover {
      box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
      border-color: rgba(223, 225, 229, 0);
    }
  }
  ::placeholder {
    color: rgba(0, 0, 0, 0.397);
  }
  .inputmarg {
    margin-top: 20px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-contents {
    position: absolute;
    transform: scaleY(0);
    background-color: white;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    color: rgba(128, 128, 128, 0.719);
    min-width: 200px;
    font-size: 14px;
    z-index: 1;
    // margin-left: 0px;
    transform-origin: top;
    padding: 10px;
    border-radius: 10px;
    transition: 0.2s;
  }

  .delete {
    text-align: center;
    button {
      background-color: rgba(0, 0, 0, 0.664);
      border-radius: 80px;
      border: none;
      color: white;
      &:hover {
        background-color: #ef0081;
      }
    }
  }
  // .drop {
  //   min-width: 300px;
  // }
  a {
    display: block;
    text-decoration: none;
    padding: 6px;
    color: rgba(0, 0, 0, 0.664);
    &:hover {
      color: rgb(212, 66, 90);
    }
  }
  .dropdown:hover .dropdown-contents {
    transform: scaleY(1);
    transition: 0.4s;
  }
  h2 {
    font-size: 16px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.678);
    margin-top: auto;
  }

  h3 {
    color: #ef0081;
    font-size: 17px;
    padding: 10px;
  }
  .center {
    text-align: center;
    .checkout {
      border: none;
      background-color: #62575f;
      margin: 5px;
      color: white;
      padding: 10px 20px;
      border-radius: 30px;
      transition: 0.4s;
      margin-top: 20px;
      &:hover {
        background-color: #ef0081;
        transition: 0.4s;
      }
    }
  }
  .cartspan {
    font-size: 17px;
    word-spacing: 2px;
    color: rgba(0, 0, 0, 0.658);

    // margin-bottom: 30px;
  }
  .cartvalue {
    color: #ef0081;
    font-size: 17px;
    // margin-bottom: 30px;
  }
  .border {
    border-bottom: 2px solid rgba(128, 128, 128, 0.253);
    width: 450px;
    padding: 10px;
  }
}
