body {
  overflow-x: hidden;
}
.rowmargin {
  margin: 0px;
  padding: 0px;
}
.homelogo {
  margin-top: 60px;
  h3 {
    text-align: center;
    margin-top: 20px;
    color: rgba(128, 128, 128, 0.575);
  }
  h1 {
    text-align: center;
    padding: 10px;
    color: rgb(252, 231, 41);
    font-weight: bold;
    margin-bottom: 50px;
  }
}
.searchModel {
  z-index: 3;
}
