.manage {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  //   border: 1px solid gray;
  margin: 40px auto;
  padding: 5px 15px;
  margin-left: 20px;
  .main {
    margin: 40px 20px 10px 20px;
  }
  .address {
    padding: 10px 10px 30px 10px;
    margin: 10px 20px;

    .add {
      font-size: 18px;
      //   text-align: center;
      margin: 10px 10px 20px 10px;
    }
    .location {
      background-color: #2874f0;
      padding: 15px 0px;
      width: 230px;
      font-size: 15px;
      text-align: center;
      margin: 15px 5px;
      color: white;
    }
    .int {
      width: 240px;
      padding: 10px 10px 20px 10px;
      margin: 15px 5px;
      background-color: #fafafa;
      outline: none;
      border-radius: 2px;
      border: 1px solid #e0e0e0;
    }
    .area {
      width: 490px;
      padding: 10px 10px 40px 10px;
      margin: 5px;
      background-color: #fafafa;
      border-radius: 2px;
      border: 1px solid #e0e0e0;
    }
    .type {
      margin: 10px 20px;
    }
    .inttype {
      margin: 15px;
      //   font-size: 60px;
    }
  }
  .savebtn {
    margin: 10px;
    .save {
      background-color: #2874f0;
      padding: 15px 0px;
      width: 230px;
      font-size: 18px;
      text-align: center;
      color: white;
    }
  }
}
