.menu {
  background-color: $textcolor;
  margin: -10px 0px;
  position: relative;
  ul {
    text-align: center;

    .main {
      li:nth-child(1) {
        &:hover .dropdown {
          display: none;
        }
      }
      li:last-of-type {
        position: relative;

        width: 100px;

        &:hover .dropdown {
          transform: scaleY(1);
          transition: 0.6s;
        }
        .dropdown {
          position: absolute;
          box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
          border-radius: 10px;
          transform: scaleY(0);
          background-color: white;
          color: black;
          transform-origin: top;
          z-index: 55;
          width: 200%;
          display: inline-block;

          .text {
            a {
              text-decoration: none;

              p {
                line-height: 40px;
                font-size: 18px;
                color: #62575f;
              }
            }
          }
        }
      }

      li {
        list-style: none;
        display: inline-block;
        width: 100px;
        color: $white;
        transition: 0.6s;
        padding: 20px 0px 20px 0px;

        &:hover .dropdown {
          transform: scaleY(1);
          transition: 0.6s;
          z-index: 55;
        }
        &:hover {
          color: yellow;
        }

        .dropdown {
          position: absolute;
          right: 2%;
          left: 2%;
          top: 100%;
          box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
          border-radius: 10px;
          transform: scaleY(0);
          background-color: white;
          color: black;
          padding: 0px 20px;
          transform-origin: top;
          .text {
            text-align: left;
            margin: 30px 0px 30px 30px;

            .heading {
              color: #62575f;
              font-size: 20px;
              text-transform: uppercase;
              &:hover {
                color: $textcolor;
              }
            }
            a {
              text-decoration: none;
              display: block;
              p {
                color: #62575f;
                line-height: 30px;
                font-size: 13px;
                margin: 0px;
                &:hover {
                  color: $textcolor;
                }
              }
            }
          }
        }
      }
    }
  }
}
a {
  color: inherit;
}
cxc