.Checkout {
  margin: 80px 0px 80px 0px;
}

.Checkout .firstsection {
  padding-right: 80px;
  border-right: 1px solid #d9d9d9;
}

.Checkout .inttype {
  margin: 0 10px 0 10px;
  margin-top: 15px;
}

.Checkout .firstsection img {
  width: 23%;
}

.Checkout .firstsection p {
  margin: 20px 0px;
}

.Checkout .firstsection p span {
  margin: 0px 5px;
  font-size: 13px;
}

.Checkout .firstsection .contactInfo .contact {
  font-size: 1.28571em;
  color: #333333;
}

.Checkout .firstsection .contactInfo .para {
  font-size: 15px;
  color: gray;
}

.Checkout .firstsection .contactInfo .para span {
  color: #ef0081;
}

.Checkout .firstsection .contactInfo .inputbox {
  width: 100%;
  border: none;
  border: 1px solid #d9d9d9;
  padding: 15px 0px 10px 8px;
  border-radius: 5px;
  font: inherit;
  color: #737373;
}

.Checkout .firstsection .contactInfo .checklist {
  margin: 10px 0px 60px 0px;
  position: relative;
}

.Checkout .firstsection .contactInfo .checklist .check {
  border-color: #d9d9d9;
  background-color: transparent;
  border-radius: 4px;
  width: 18px;
  height: 18px;
  color: #d9d9d9;
  position: absolute;
}

.Checkout .firstsection .contactInfo .checklist span {
  position: absolute;
  margin: 4px 0px 0px 30px;
}

.Checkout .firstsection .shipping p {
  font-size: 1.28571em;
  color: #333333;
}

.Checkout .firstsection .shipping .rowpadding {
  margin-bottom: 10px;
}

.Checkout .firstsection .shipping .rowpadding .inputwrapper {
  width: 100%;
}

.Checkout .firstsection .shipping .inputClass {
  border: none;
  border: 1px solid #d9d9d9;
  width: 100%;
  margin: 10px 0px;
  padding: 15px 8px;
  border-radius: 5px;
  font: inherit;
  color: #737373;
}

.Checkout .firstsection .shipping .rowmargin {
  margin-top: 10px;
  margin-left: -15px;
}

.Checkout .firstsection .shipping .rowmargin #select {
  border: none;
  border: 1px solid #d9d9d9;
  padding: 15px 5px;
  width: 100%;
  border-radius: 5px;
  color: #737373;
  font: inherit;
}

.Checkout .firstsection .shipping .rowmargin #pinCode {
  border: none;
  border: 1px solid #d9d9d9;
  padding: 15px 5px;
  border-radius: 5px;
  color: #737373;
  font: inherit;
}

.Checkout .firstsection .shipping .save {
  margin: 13px 0px 60px 0px;
  position: relative;
}

.Checkout .firstsection .shipping .save .check {
  border-color: #d9d9d9;
  background-color: transparent;
  border-radius: 4px;
  width: 18px;
  height: 18px;
  color: #d9d9d9;
  position: absolute;
}

.Checkout .firstsection .shipping .save span {
  position: absolute;
  margin: 4px 0px 0px 30px;
}

.Checkout .firstsection .shipping .button {
  text-align: right;
  margin: 0px 0px 20px 0px;
}

.Checkout .firstsection .shipping .button button {
  border: none;
  padding: 8px 16px;
  background-color: #ef0081;
  color: white;
  border-radius: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.Checkout .firstsection .shipping .button button:hover {
  background-color: #bc0065;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.Checkout .firstsection .shipping .button button:focus {
  outline: none;
}

.Checkout .cart {
  /* border-left: 1px solid #d9d9d9; */
  /* height: 150vh; */
  padding: 10px;
}

.Checkout .cart .Solidborder {
  border-bottom: 1px solid #d9d9d9;
}

.Checkout .cart .padding {
  margin-left: 20px;
}

.Checkout .cart .margin {
  margin-top: 20px;
}

.Checkout .cart .margin3 {
  margin-bottom: 15px;
}

.Checkout .cart .margin2 {
  margin-bottom: 20px;
}

.Checkout .cart .rightalign {
  text-align: right;
  color: black;
  margin-top: 13px;
  /* font-weight: bold; */
}

.Checkout .cart .right {
  text-align: right;
  color: #737373;
  font-size: 13px;
}

.Checkout .cart .fontColor {
  color: black;
  font-weight: 700;
}

.Checkout .cart .boldfont {
  color: black;
  font-size: 20px;
}

.Checkout .cart .boldfont span {
  font-weight: normal;
  font-size: 13px;
}

.Checkout .cart .leftalign {
  text-align: left;
  color: #737373;
}
.Checkout .userAddress {
  /* background-color: #fafafa; */
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  margin: 10px;
  text-align: center;
  padding: 15px;
}
.Checkout .userAddress button {
  border: none;
  padding: 8px 16px;
  background-color: #ef0081;
  color: white;
  border-radius: 5px;
}
.Checkout .userAddress button:hover {
  background-color: #bc0065;
}

.ContactForm .firstsection {
  padding: 80px 0px;
  text-align: center;
}

.ContactForm .firstsection .round {
  height: 50px;
  width: 50px;
  border-radius: 30px;
  background-color: #000;
  margin-left: 105px;
}

.ContactForm .firstsection .round:hover {
  background-color: #d4af77;
}

.ContactForm .firstsection h3 {
  color: #000;
  font-weight: 800;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 16px;
}

.ContactForm .firstsection .info {
  color: #000;
  font-size: 13px;
}

.ContactForm .padd {
  padding: 20px 40px;
}

.ContactForm .padd .map {
  width: 100%;
  height: 80vh;
  border: none;
}

.ContactForm .rowpadd {
  padding: 100px 0px;
}

.ContactForm .rowpadd .inputboxes {
  display: block;
  margin: 20px 0px;
  width: 100%;
  padding: 15px;
  background: #fafafa;
  border: 1px solid #eeeeee;
  font-size: 12px;
}

.ContactForm .rowpadd .heading {
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #000;
  font-weight: bold;
}

.ContactForm .rowpadd #message {
  width: 100%;
  height: 18vh;
  margin-top: 77px;
  background: #fafafa;
  border: 1px solid #eeeeee;
  padding: 10px;
}

.ContactForm .rowpadd .contact-button {
  width: 100%;
  padding: 15px 0px;
  background-color: #000;
  color: white;
  border: none;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  margin: 20px 0px;
}

.ContactForm .rowpadd .contact-button:hover {
  background-color: #d4af77;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.productDetails {
  padding: 100px 0px;
}

.productDetails .blockElement {
  display: inline-block;
}

.productDetails .rowpadd {
  margin: 0px;
  padding: 30px 0px;
}

.productDetails .rowpadd img {
  cursor: pointer;
}

.productDetails .rowpadd .imgmarg {
  margin-bottom: 30px;
  border-radius: 10px;
}

.productDetails .rowpadd .text {
  padding-left: 50px;
}

.productDetails .rowpadd .text .heading {
  font-size: normal;
  font-size: 34px;
  text-transform: inherit;
}

.productDetails .rowpadd .text .price {
  color: #ef0081;
  font-size: 22px;
  font-weight: bold;
}

.productDetails .rowpadd .text .ratings {
  font-size: 20px;
}

.productDetails .rowpadd .text .description {
  font-size: 15px;
  color: #62575f;
  font-weight: 300;
  line-height: 1.7;
}

.productDetails .rowpadd .text .font {
  font-size: 15px;
  margin: 10px 0px;
  color: #62575f;
}

.productDetails .rowpadd .text .size {
  border: 2px solid #ef0081;
  padding: 5px 15px;
  border-radius: 40px;
  text-align: center;
  margin: 15px 5px 10px 5px;
  cursor: pointer;
}

.productDetails .rowpadd .text .color_cloths {
  width: 8%;
  padding: 10px 10px;
  border: 2px solid #ef0081;
  margin: 10px 5px;
  cursor: pointer;
}

.productDetails .rowpadd .text .font_color {
  color: orange;
}

.productDetails .rowpadd .text .color {
  color: #ef0081;
  font-size: 22px;
  font-weight: bold;
}

.productDetails .rowpadd .text .quantity {
  border: 1px solid #62575f;
  padding: 6px 8px;
}

.productDetails .breakadd {
  margin: 0px 0px 50px 0px;
}

.productDetails .breakadd .button {
  background-color: #62575f;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
}

.productDetails .breakadd .button:hover {
  background-color: #ef0081;
}

.productDetails .breakadd .margin {
  margin: 0px 10px;
}

.productDetails .breakadd .btnmargin {
  margin-top: 30px;
}

.productDetails .button {
  background-color: #62575f;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
}

.productDetails .button:hover {
  background-color: #ef0081;
}
.productDetails .button:focus {
  outline: none;
}

.productDetails .break {
  margin: 20px 0px 10px;
}

.productDetails .margin {
  margin: 0px 10px;
}

.productDetails .icon_box {
  margin: 15px 0px;
}

.productDetails .icon_box .box {
  border: 1px solid gray;
  padding: 10px 20px;
  margin: 2px;
}

.productDetails .margin1 {
  margin: 20px -15px;
}

.productDetails .paragarph {
  margin: 30px 8px;
  font-size: 14px;
  color: #62575f;
  font-weight: 300;
  line-height: 1.7;
}

.productDetails .rowpadding {
  padding: 20px 0px 20px 0px;
}

.productDetails .rowpadding .textCenter {
  text-align: center;
  margin: 50px 0px;
}

.productDetails .rowpadding .textCenter h4 {
  font-size: 20px;
  color: #de5648;
  text-transform: capitalize;
}

.productDetails .rowpadding .textCenter h2 {
  font-weight: bold;
}
.product .row {
  margin: 0px;
}
.product .card {
  margin-top: 25px;
}
.product .card:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-radius: 10px;
}

.product .card .btn {
  display: none;
}
.product .card .productWrapper {
  border: 1px solid rgba(211, 211, 211, 0.452);
  border-radius: 10px;
  padding: 10px;
}
.product.card.productWrapper:hover {
  transition: 0.4s;
}
.product .card:hover .btn {
  display: block;
}
.product img {
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 10px;
}
/* .product .wrapper {
    height: 470px;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
  }
  
  .product .wrapper:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  }
  .product .wrapper .addToCartBtn {
    text-align: center;
  }
  .product .wrapper .addToCartBtn button {
    padding: 10px 20px;
    display: inline;
    background-color: #62575f;
    margin: 5px;
    border-radius: 4px;
    color: white;
    font-size: 17px;
    border: none;
  }
  .product .wrapper .addToCartBtn button:hover {
    background-color: #ef0081;
  } */

.product h4 {
  color: gray;
  font-size: 17px;
  padding: 5px;
  text-align: center;
}

.product h4:hover {
  color: #db4892;
  text-decoration: none;
}

.product h5 {
  text-align: center;
  font-size: 15px;
}

.product h5:hover {
  color: #db4892;
  text-decoration: none;
}

.product h3 {
  text-align: center;
  color: rgba(128, 128, 128, 0.541);
}
.product .mainCard {
  margin-top: 25px;
  height: 500px;
}
.product .mainCard:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-radius: 10px;
}
.product .mainCard .addToCartBtn {
  text-align: center;
  margin-left: 20%;
}
.product .mainCard .addToCartBtn button {
  display: none;
  background-color: #62575f;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 4px;
  color: white;
  font-size: 17px;
  border: none;
}
.product .mainCard .addToCartBtn button:hover {
  background-color: #ef0081;
  transition: 0.4s;
}
.product .mainCard .wrapper {
  border: 1px solid rgba(211, 211, 211, 0.452);
  border-radius: 10px;
  padding: 10px;
}
.product.mainCard.wrapper:hover {
  transition: 0.4s;
}

.product .mainCard:hover .addToCartBtn button {
  display: block;
}

.product .imgDiv {
  max-height: 400px;
  position: relative;
}

.brand {
  margin: 0px 50px 0px 50px;
  background: #a2895826;
}

.brand .content {
  width: 10%;
  margin: 20px auto;
  padding: 15px 0px;
}

.brand .content .brand_slider {
  /* display: -webkit-box;
    display: -ms-flexbox; */
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* width: 100%; */
}

.brand .content .brand_slider .text {
  font-size: 15px;
  background: #80808094;
  padding: 10px 25px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  left: 50px;
  position: absolute;
}

.brand .content .brand_slider .text .top {
  color: black;
}

.brand .content .brand_slider img {
  width: 10%;
  margin: 0px 0px 0px 10px;
}

.header {
  position: relative;
  width: 100%;
  flex-direction: row;
  vertical-align: center;
}

.header h5 {
  display: inline;
  padding: 10px;
  margin-left: 20px;
  font-size: 15px;
}

.header h5:hover {
  color: #f54396;
}

.header i {
  padding: 5px;
  font-size: 16px;
}

.header .row {
  /* margin-top: 20px; */
  /* margin-bottom: 30px; */
  /* height: 100px; */
}
.header .searchIcon {
  margin-left: 50px;
  color: rgba(128, 128, 128, 0.712);
  font-size: 16px;
  height: 44px;
  left: 30px;
  line-height: 44px;
  margin: auto 0;
  overflow: hidden;
  position: absolute;
  text-align: initial;
  text-overflow: ellipsis;
  top: 6px;
  user-select: none;
  vertical-align: middle;
  visibility: inherit;
  white-space: nowrap;
}

.header .inputserachbox {
  padding: 16px 0px 16px 50px;
  width: 100%;
  border-radius: 8px;
  /* border: 1px solid #dfe1e5; */
  background-color: white;
  color: black;
  font-size: 16px;
  transition: 0.3s;
  border: none;
  /* -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28); */
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  letter-spacing: 0.2px;
}
.header .searchModel {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  position: absolute;
  left: 3%;
  width: 85%;
  top: 64px;
  z-index: 3;
  margin-top: -17px;
  padding: 0 10px;
  border-radius: 10px;
  background-color: #fff;
}
.header .searchModel .dj {
  /* margin-top: 40px !important; */
  padding: 40px;
}

.header .inputserachbox:hover {
  -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  box-shadow: 4px 4px 16px #cdcdcd;
  border-color: rgba(223, 225, 229, 0);
}
.header .inputserachbox:focus {
  outline: none;
}
.header ::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.397);
}

.header :-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.397);
}

.header ::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.397);
}

.header ::placeholder {
  color: rgba(0, 0, 0, 0.397);
}

.header .inputmarg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.header .dropdown {
  position: relative;
  display: inline-block;
}

.header .dropdown-contents {
  position: absolute;
  margin-top: 20px;
  /* right:-250%; */
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  background-color: white;
  -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  color: rgba(128, 128, 128, 0.719);
  min-width: 200px;
  font-size: 14px;
  z-index: 1;
  -webkit-transform-origin: top;
  transform-origin: top;
  padding: 10px;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 9999;
}

.header .delete {
  text-align: center;
}

.header .delete button {
  background-color: rgba(0, 0, 0, 0.664);
  border-radius: 80px;
  border: none;
  color: white;
}

.header .delete button:hover {
  background-color: #ef0081;
}

.header a {
  display: block;
  text-decoration: none;
  padding: 6px;
  color: rgba(0, 0, 0, 0.664);
}

.header a:hover {
  color: #d4425a;
}

.header .dropdown:hover .dropdown-contents {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header h2 {
  font-size: 16px;
  /* line-height: 25px; */
  color: rgba(0, 0, 0, 0.678);
  margin-top: auto;
  margin-bottom: 0;
}

.header h3 {
  color: #ef0081;
  font-size: 17px;
  padding: 10px;
}

.header .center {
  text-align: center;
}

.header .center .checkout {
  border: none;
  background-color: #62575f;
  margin: 5px;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-top: 20px;
}

.header .center .checkout:hover {
  background-color: #ef0081;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.header .center .checkout:hover {
  outline: none;
}

.header .cartspan {
  font-size: 17px;
  word-spacing: 2px;
  color: rgba(0, 0, 0, 0.658);
}

.header .cartvalue {
  color: #ef0081;
  font-size: 17px;
}

.header .border {
  border-bottom: 2px solid rgba(128, 128, 128, 0.253);
  width: 450px;
  padding: 10px;
}

.categoryWrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
  grid-template-columns: auto auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.category {
  width: 100%;
  height: 100%;
}

.category .categorycontents {
  position: relative;
  width: 100%;
  height: 100%;
}

.category .categorycontents h2 {
  font-size: 25px;
  color: white;
}

.category .categorycontents h3 {
  font-size: 35px;
  color: white;
  font-weight: bold;
}

.category .categorycontents button {
  color: #070707;
  padding: 5px 30px;
  border: 1px solid white;
  background-color: white;
  margin-top: 20px;
}

.category .categorycontents button:hover {
  border: 1px solid white;
  background-color: transparent;
  color: white;
}

.category .categorycontents .categorytext {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
}

.category .categorycontents img {
  width: 100%;
  border-radius: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.category .categorycontents img:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 1;
}

.category .categorycontents .hidenn {
  height: 100%;
  /* margin: 10px; */
}

/* .category:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    height: 100%;
  }
  
  .category:nth-child(2) img {
    height: 100%;
  } */

.category .layeronimage {
  background-color: rgba(0, 0, 0, 0.295);
  width: 100%;
  position: absolute;
  height: 100%;
  border-radius: 20px;
}

body {
  overflow-x: hidden;
}

.rowmargin {
  margin: 0px;
  padding: 0px;
}

.homelogo {
  margin-top: 60px;
}

.homelogo h3 {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  color: rgba(128, 128, 128, 0.575);
}

.homelogo h1 {
  text-align: center;
  padding: 10px;
  color: #fce729;
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.footer {
  background-position: center;
  background-repeat: no-repeat;
  border-top: 1px solid rgba(128, 128, 128, 0.329);
  width: 100%;
}

.footer .row {
  margin: 0px;
}

.footer .col-sm-3 {
  padding: 30px;
  margin-bottom: 50px;
}

.footer .col-sm-3 h2 {
  padding: 10px;
}

.footer .col-sm-3 i {
  padding-right: 8px;
  font-size: 15px;
}

.footer .col-sm-3 h5 {
  padding: 5px;
  color: gray;
}

.footer .col-sm-3 h5:hover {
  color: #ff1161;
}

.footer h4 {
  background-color: #62575f;
  font-size: 15px;
  padding: 20px;
  color: rgba(255, 255, 255, 0.705);
  margin-bottom: 0px;
}

.productlist {
  margin-bottom: 40px;
  position: relative;
  width: 100%;
}
.productlist h3 {
  /* padding: 20px; */
  /* margin-left: 10px; */
}

.productlist .row {
  margin: 0px;
  margin-top: 50px;
}

.productlist p {
  background-color: #62575f;
  color: white;
  width: 50%;
  padding: 14px 24px;
  border-radius: 30px;
  font-size: 13px;
  letter-spacing: 1px;
  margin: 10px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.productlist p:hover {
  background-color: #ef0081;
}

.productlist ul {
  list-style-type: none;
}

.productlist .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}

.productlist .container .check {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.productlist .check {
  margin-right: 10px;
}
.productlist li {
  padding: 10px;
  border-bottom: 1px dashed rgba(128, 128, 128, 0.219);
}

.productlist li:hover {
  color: #ef0081;
}

.productlist h5 {
  font-size: 16px;
}

.productlist h6 {
  font-size: 15px;
  color: rgba(128, 128, 128, 0.938);
}

/* .productlist span {
    border: 1px solid gray;
    padding: 10px;
    margin: 5px;
    text-align: center;
    margin-left: 13px;
  } */

.productlist .spanmarg {
  margin-top: 30px;
  margin-bottom: 30px;
}

.productlist h2 {
  display: inline;
  font-size: 16px;
  margin: 20px;
}

.productlist i {
  font-size: 17px;
}

.productlist button {
  display: inline;
  background-color: #62575f;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 4px;
  color: white;
  font-size: 17px;
  border: none;

  /* opacity: 0; */
  /* border: 1px solid #ef0081; */
}

.productlist button:hover {
  background-color: #ef0081;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  /* border: 1px solid #62575f; */
}

.productlist .h1color {
  background-color: #ef0081;
}

.productlist .h1color:hover {
  border: 1px solid #ef0081;
}

.productlist .bordercolor {
  border: 1px solid #62575f;
}

.productlist .bordercolor:hover {
  border: 1px solid #ef0081;
}

.productlist .feature {
  background-color: #62575f;
  color: white;
  width: 50%;
  padding: 14px 30px;
  border-radius: 30px;
  font-size: 13px;
  letter-spacing: 1px;
  margin-left: 0px;
}

.productlist .feature:hover {
  background-color: #ef0081;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.productlist .sortmarg {
  position: absolute;
  left: 50%;
  top: 0%;
}

.productlist .product .row {
  margin: 0px;
}
/* .productlist .product .card{
  box-shadow:0 2px 4px 0 rgba(0,0,0,0.10);
  } */
.productlist .product .imgDiv {
  max-height: 350px;
}
.productlist .product img {
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 10px;
}

.productlist .product h4 {
  text-align: center;
  color: gray;
  font-weight: bold;
  padding: 5px;
  text-decoration: none;
}

.productlist .product h4:hover {
  color: #db4892;
}

.productlist .product h5 {
  text-align: center;
}

.productlist .product h3 {
  text-align: center;
  color: rgba(128, 128, 128, 0.541);
}

.productlist .product .col-sm-3 {
  margin-bottom: 30px;
  margin-top: 50px;
}

.productlist .featuremarg {
  margin-right: 60px;
}

.productlist .center {
  text-align: center;
}

.productlist .saletext {
  width: 50%;
  text-align: center;
}

.categoryHorizontal {
  background-image: url("https://cdn.shopify.com/s/files/1/0033/7064/7667/files/img-6_a33c061f-a99a-4704-843d-3fe3b22a2c45_1920X.jpg?v=1531383183");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.categoryHorizontal .layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0000000a;
}

.categoryHorizontal .textcenter {
  width: 100%;
  text-align: center;
}

.categoryHorizontal .textcenter p {
  color: black;
  font-size: 20px;
  padding: 50px 0px 5px 0px;
}

.categoryHorizontal .textcenter h1 {
  color: #ef0081;
  font-size: 40px;
  margin-top: -1px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.categoryHorizontal .rowspace {
  padding: 70px 0px;
  margin: 0px;
}

.categoryHorizontal .rowspace .card {
  background-color: white;
  margin: 10px 0px;
  border-radius: 10px;
}

.categoryHorizontal .rowspace .card .rowpadd {
  padding: 0px 0px;
  margin: 0px;
}

.categoryHorizontal .rowspace .card .rowpadd .image {
  padding: 15px;
}

.categoryHorizontal .rowspace .card .rowpadd .image .img {
  border-radius: 10px;
  height: 130px;
}

.categoryHorizontal .rowspace .card .rowpadd .text {
  padding: 30px 0px 0px 0px;
}

.categoryHorizontal .rowspace .card .rowpadd .text .title {
  font-size: 18px;
  /* font-weight: bold; */
  color: black;
}

.categoryHorizontal .rowspace .card .rowpadd .text .title:hover {
  color: #ef0081;
}

.categoryHorizontal .rowspace .card .rowpadd .text .para {
  width: 100%;
  padding: 0px 0px 13px 0px;
  color: #62575f;
  border-bottom: 1px solid #b3b3b352;
}

.categoryHorizontal .rowspace .card .rowpadd .text .rowpadd .price {
  margin: -10px;
  text-align: left;
  font-size: 20px;
  color: #b3b3b3;
}

.categoryHorizontal .rowspace .card .rowpadd .text .rowpadd .cart {
  padding: 0px 0px 0px 0px;
  text-align: right;
  font-size: 20px;
  color: #b3b3b3;
  margin-top: 15px;
}
.selected {
  color: yellow !important;
}
.menu {
  background-color: #ef0081;
  /* margin: -10px 0px; */
  position: relative;
}

.menu ul {
  text-align: center;
  margin-bottom: 0;
}

.menu ul .main li:nth-child(1):hover .dropdown {
  display: none;
}

.menu ul .main li:last-of-type .dropdown .text a {
  text-decoration: none;
}

.menu ul .main li:last-of-type .dropdown .text a p {
  line-height: 40px;
  font-size: 18px;
  color: #62575f;
}
.menu ul .main li {
  display: inline-block;
}
.menu ul .main a {
  list-style: none;
  display: inline-block;
  color: white;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  padding: 18px 12px;
  font-size: 15px;
  letter-spacing: 0.5px;
}
.menu ul .main li:hover .dropdown {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  z-index: 999;
}

.menu ul .main li:hover {
  background-color: #b60463;
}
.chevron {
  transition: all 0.3s ease-in-out;
}
.menu ul li:hover .chevron {
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
}

.menu ul .main li .dropdown {
  position: absolute;
  right: 2%;
  left: 2%;
  top: 100%;
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  background-color: white;
  color: black;
  padding: 16px 20px;
  -webkit-transform-origin: top;
  transform-origin: top;
  z-index: 99999999;
}

.menu ul .main li .dropdown .text {
  text-align: left;
  margin: 30px 0px 30px 30px;
}

.menu ul .main li .dropdown .text .heading {
  color: #62575f;
  font-size: 20px;
  text-transform: uppercase;
}

.menu ul .main li .dropdown .text .heading:hover {
  color: #ef0081;
}

.menu ul .main li .dropdown .text a {
  text-decoration: none;
  display: block;
}

.menu ul .main li .dropdown .text a p {
  color: #62575f;
  line-height: 30px;
  font-size: 13px;
  margin: 0px;
}
.menu ul .main li .dropdown h4 {
  text-align: left;
  text-transform: uppercase;
  font-size: 14px !important;
  color: rgba(0, 0, 0, 0.664);
}
.menu ul .main li .dropdown h5 {
  text-align: left;
  text-transform: capitalize;
}

.menu ul .main li .dropdown .text a p:hover {
  color: #ef0081;
}

a {
  color: inherit;
}

.Slider .Bgimg {
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  position: relative;
}

.Slider .Bgimg .layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(239, 0, 129, 0);
}

.Slider .Bgimg .textcenter {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 25%;
  right: 0px;
  -webkit-transform: translateY(-60%);
  transform: translateY(-60%);
}

.Slider .Bgimg .textcenter h1 {
  color: white;
  font-size: 80px;
  font-weight: bold;
  text-transform: capitalize;
  background-color: rgba(212, 132, 144, 0.2);
  display: inline-block;
  width: 40%;
}

.Slider .Bgimg .textcenter p {
  color: #d48490;
  font-size: 40px;
  padding: 10px 0px;
  text-transform: capitalize;
}

.Slider .Bgimg .textcenter button {
  background-color: #d48490;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 50px;
  -webkit-transition: 1s;
  transition: 1s;
}

.Slider .Bgimg .textcenter button:hover {
  background-color: #ef0081;
  -webkit-transition: 1s;
  transition: 1s;
}

.offer .bgimg {
  height: 95vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.offer .bgimg .layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 165, 0, 0.1);
}

.offer .bgimg .textcenter {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.offer .bgimg .textcenter .Shead {
  font-size: 23px;
  text-transform: uppercase;
  letter-spacing: 0.06cm;
}

.offer .bgimg .textcenter h3 {
  font-size: 50px;
  padding: 0px 0px 35px 0px;
  color: #b10a0a;
  letter-spacing: 0.2cm;
  text-transform: uppercase;
}

.offer .bgimg .textcenter .date {
  font-size: 50px;
}

.offer .bgimg .textcenter h1 {
  font-size: 140px;
  color: #b10a0a;
  letter-spacing: 0.3cm;
  text-transform: uppercase;
}

.offer .bgimg .textcenter button {
  background-color: black;
  color: white;
  border: none;
  margin: 20px 0px;
  padding: 15px 35px;
  border-radius: 30px;
  letter-spacing: 0.1cm;
  -webkit-transition: 1s;
  transition: 1s;
}

.offer .bgimg .textcenter button:hover,
.offer .bgimg .textcenter button:focus {
  background-color: #ef0081;
  -webkit-transition: 1s;
  transition: 1s;
}

.demo .main {
  margin: 50px 0px;
  width: 100%;
  text-align: center;
}

.demo .main .button {
  -webkit-transition: 10s linear 2s;
  transition: 10s linear 2s;
  padding: 10px 30px;
  color: white;
  border: none;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(red),
    to(blue)
  );
  background: linear-gradient(to right, red, blue);
  -webkit-transition: 10s linear;
  transition: 10s linear;
}

.demo .main .button:hover {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(blue),
    to(red)
  );
  background: linear-gradient(to right, blue, red);
  -webkit-transition: 10s linear 2s;
  transition: 10s linear 2s;
}

.demo .image {
  position: relative;
  margin: 50px;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.demo .image:hover .layer {
  display: block;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.demo .image:hover .layer .text {
  display: block;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.demo .image .layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#0000ffbf),
    to(#87ceeba3)
  );
  background: linear-gradient(to right, #0000ffbf, #87ceeba3);
  display: none;
}

.demo .image .layer .text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: whitesmoke;
  display: none;
}

.demo .image img {
  width: 100%;
}

.signinpage {
  position: relative;
  width: 100%;
}

.signinpage .signin {
  width: 25%;
  margin: 100px auto 100px;
}

.signinpage .signin input {
  display: block;
  width: 100%;
  padding: 15px 15px 15px 11px;
  margin-bottom: 20px;
  border: 1px solid #62575f3f;
  border-radius: 2px;
}

.signinpage .signin .center {
  text-align: center;
}

.signinpage .signin h4 {
  font-size: 16px;
  color: gray;
  padding: 5px;
}

.signinpage .signin h4:hover {
  color: #ef0081;
}

.signinpage .signin button {
  width: 100%;
  padding: 14px 10px;
  border: none;
  border-radius: 30px;
  background-color: #62575f;
  color: white;
  margin-bottom: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.signinpage .signin button:focus {
  outline: none;
}

.signinpage .signin button:hover {
  background-color: #ef0081;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.signinpage .signin a {
  color: #62575f;
  text-decoration: underline;
  display: block;
  padding: 15px;
}

.signinpage .signin a:hover {
  color: #ef0081;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.signinpage .signin .return {
  text-decoration: none;
}

.register {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.register .registerpage {
  width: 25%;
  margin: 70px auto 70px;
}

.register .registerpage input {
  display: block;
  width: 100%;
  padding: 15px 15px 15px 11px;
  margin-bottom: 20px;
  border: 1px solid #62575f3f;
  border-radius: 2px;
  border: 1px solid #e4e4e4;
}

.register .registerpage .verify {
  position: relative;
  left: 105%;
  bottom: 60px;
  padding: 5px 20px;
  background-color: #62575f;
  color: white;
  border: none;
  border-radius: 30px;
}

.register .registerpage .verify:hover {
  background-color: #ef0081;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.register .registerpage .submit {
  position: relative;
  left: 105%;
  bottom: 60px;
  padding: 5px 20px;
  background-color: #62575f;
  color: white;
  border: none;
  border-radius: 30px;
}

.register .registerpage .submit:hover {
  background-color: #ef0081;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.register .registerpage .button {
  width: 100%;
  padding: 14px 10px;
  border: none;
  border-radius: 30px;
  background-color: #62575f;
  text-align: center;
  color: white;
  margin-bottom: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.register .registerpage .button:hover {
  background-color: #ef0081;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.register .registerpage .center {
  text-align: center;
}

.register .registerpage a {
  color: #62575f;
  text-decoration: underline;
}

.register .registerpage a:hover {
  color: #ef0081;
}

.about .center {
  text-align: center;
}

.about .welcomesection {
  margin: 60px 0 40px 0;
}

.about .welcomesection .col-sm-6 img {
  width: 100%;
  margin-top: 50px;
  border-radius: 10px;
}

.about .welcomesection .col-sm-6 h1 {
  font-size: 35px;
  margin-top: 70px;
  margin-left: 15px;
}

.about .welcomesection .col-sm-6 p {
  padding: 15px;
  letter-spacing: 0em;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  color: rgba(0, 0, 0, 0.781);
}

.about .welcomesection .col-sm-4 img {
  width: 100%;
  height: auto;
}

.about .trends {
  padding: 70px 20px;
}

.about .trends .col-sm-4 {
  padding: 30px;
}

.about .trends .col-sm-4 h2 {
  font-size: 20px;
  letter-spacing: 0.02em;
  margin: 0 0 15px;
  line-height: 1.1;
  color: black;
  font-weight: bold;
}

.about .trends .col-sm-4 h3 {
  font-size: 15px;
  letter-spacing: 0em;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
}

.about .bannerimgae {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  height: 500px;
  padding: 80px 0px;
}

.about .bannerimgae h4 {
  font-size: 30px;
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: 700;
}

.about .bannerimgae h5 {
  font-size: 18px;
  color: white;
  text-align: center;
  font-weight: 400;
}

.about .bannerimgae h6 {
  font-size: 15px;
  color: white;
  text-align: center;
  line-height: 25px;
  letter-spacing: 1px;
}

.about .bannerimgae button {
  border: none;
  padding: 15px 30px;
  border-radius: 30px;
  margin-top: 30px;
  color: #62575f;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.about .bannerimgae button:hover {
  background-color: #ef0081;
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.about .clientsection {
  padding: 50px;
}

.about .clientsection h3 {
  text-align: center;
  font-style: italic;
  font-size: 24px;
  font-weight: 300px;
  padding: 10px;
}

.about .clientsection h4 {
  font-size: 40px;
  text-align: center;
  padding-bottom: 40px;
}

.about .clientsection p {
  font-size: 16px;
  line-height: 35px;
  color: #62575f;
  text-align: center;
  padding-bottom: 70px;
}

.about .clientsection span {
  text-align: center;
  font-size: 17px;
  padding: 15px;
  padding-bottom: 100px;
  border-bottom: #020202;
}

.about .clientsection span img {
  border-radius: 50%;
}

.about .clientsection .spandotactive {
  background-color: #ef0081;
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  display: inline-block;
  padding: 7px;
  border-radius: 30px;
}

.about .clientsection .spandot {
  background-color: #62575f;
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  display: inline-block;
  border-radius: 30px;
  padding: 7px;
  margin-top: 30px;
}

.about .clientsection .spandot:hover {
  background-color: #ef0081;
}

.about .teamsection {
  margin: 100px 0px 100px 0px;
}

.about .teamsection h1 {
  font-size: 30px;
  text-align: center;
}

.about .teamsection h2 {
  font-size: 16px;
  text-align: center;
}

.about .teamsection .col-sm-3 img {
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.about .teamsection .col-sm-3 h3 {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
}

.about .teamsection .col-sm-3 h4 {
  text-align: center;
  font-size: 16px;
}

.about .teamsection .text {
  text-align: center;
  margin-bottom: 50px;
}

.about .teamsection .layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.404);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 10px;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.about .teamsection i {
  font-size: 17px;
  background-color: #302e2e;
  color: rgba(255, 255, 255, 0.856);
  border-radius: 2px;
  padding: 10px;
}

.about .teamsection i:hover {
  background-color: #ef0081;
}

.about .teamsection .fbicon {
  position: absolute;
  top: 80%;
  left: 12%;
}

.about .teamsection .instaicon {
  position: absolute;
  top: 80%;
  left: 35%;
}

.about .teamsection .youtubeicon {
  position: absolute;
  top: 80%;
  left: 55%;
}

.about .teamsection .pintresticon {
  position: absolute;
  top: 80%;
  left: 75%;
}

.about .teamsection .wrapper {
  position: relative;
}

.about .teamsection .wrapper:hover .layer {
  display: block;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.about .teamsection .shortdisc {
  background: #de5648;
  display: inline-block;
  margin: auto;
  width: 70px;
  height: 4px;
}

.about .quote {
  color: #ffffff;
  background: #ef0081;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 30px;
  line-height: 40px;
  width: 40px;
  height: 40px;
  content: "\f10d";
  font-size: 28px;
  text-align: center;
}

.bigstore {
  background-color: #d9f3f4;
  padding: 40px 10px 40px 10px;
  margin-top: 80px;
}

.bigstore .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto;
  grid-template-columns: auto auto auto auto auto;
}

.bigstore h1 {
  background-color: white;
  color: orangered;
  text-align: center;
  border-radius: 30px;
  width: 40%;
  margin: -70px auto 20px;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 33, 36, 0.28);
  box-shadow: 0 1px 6px 0 rgba(0, 33, 36, 0.28);
  padding: 10px;
}

.bigstore p {
  font-size: 17px;
  margin-top: 70px;
  text-align: center;
  color: gray;
}

.bigstore p:hover {
  color: #17a2a7;
}

.sidebar {
  margin: 30px 0px 50px 0px;
}

.sidebar .hello {
  background-color: #fff;
  width: 100%;
  padding: 5px 0px;
  margin: 40px 20px 20px 20px;
  -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.sidebar .hello h3 {
  margin-left: 20px;
}

.sidebar .hello .img {
  margin-left: 20px;
}

.sidebar .orders {
  width: 100%;
  margin: 20px;
}

.sidebar .orders .active {
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
  color: #878787;
}

.sidebar .orders .active:hover {
  color: #ef0081;
}

.sidebar .orders .selectedLink {
  color: #ef0081;
}

.sidebar .orders h3 {
  background-color: #fff;
  -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 20px 0px;
  text-align: left;
  border-bottom: 1px solid rgba(128, 128, 128, 0.212);
  text-transform: uppercase;
  font-size: 16px;
  /* font-weight: 600; */
  padding-left: 30px;
}

.sidebar .setting {
  width: 100%;
  margin: -20px 20px;
}

.sidebar .setting .active {
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
  color: #878787;
}

.sidebar .setting .active:hover {
  color: #2874f0;
}

.sidebar .setting .selectedLink {
  color: #ef0081;
}

.sidebar .setting h3 {
  background-color: #fff;
  -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 20px 0px 10px 0px;
  text-align: left;
  text-transform: uppercase;
  color: #878787;
  font-size: 16px;
  /* font-weight: 600; */
  padding-left: 30px;
}

.sidebar .setting p {
  padding: 20px 0px;
  text-align: left;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin: -20px 0px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.281);
  font-size: 14px;
  font-weight: 500;
  padding-left: 30px;
}
.sidebar .setting p:hover {
  color: #ef0081;
}
.sidebar .logout {
  width: 100%;
  margin: -20px 20px;
}

.sidebar .logout .active {
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
  color: #878787;
}

.sidebar .logout .active:hover {
  color: #ef0081;
}

.sidebar .logout .selectedLink {
  color: #ef0081;
}

.sidebar .logout h3 {
  background-color: #fff;
  padding: 20px 0px;
  text-align: left;
  text-transform: uppercase;
  font-size: 16px;
  /* font-weight: 600; */
  padding-left: 30px;
  -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.orders .content {
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin: 40px auto;
  text-align: center;
  margin-left: 20px;
}

.orders .content .rowstyle {
  border-bottom: 1px solid gray;
  margin: 0px 0px;
}

.orders .content .rowstyle p {
  padding: 10px;
  margin-top: 10px;
  background-color: #ef0081;
  color: white;
}

.orders .content .rowstyle .track {
  padding: 10px;
  margin-top: 10px;
  background-color: transparent;
}

.orders .content .rowpadd {
  border-bottom: 1px solid gray;
  margin: 0px 0px;
}

.orders .content .rowpadd img {
  margin: 20px;
}

.orders .content .rowpadd p {
  margin: 20px;
}

.orders .content .roworder {
  margin: 10px 0px;
}

.orders .content .roworder .order-on {
  text-align: left;
  margin: 5px 20px 8px 0px;
}

.orders .content .roworder .total-order {
  text-align: right;
  margin-right: 20px;
  margin: 5px 0px 8px 30px;
}

.user {
  background-color: #f1f3f6;
}

.personalInfo {
  margin: 40px 0px;
  padding: 10px 30px;
  width: 100%;
  margin-left: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.personalInfo .head {
  font-size: 16px;
  font-weight: 500;
  color: black;
  padding: 10px 0px;
}

.personalInfo .edit {
  display: inline-block;
}

.personalInfo .deactive {
  margin-top: 20px;
}

.personalInfo .inputs {
  padding: 12px 10px;
  width: 30%;
  border: 1px solid #e0e0e0;
  outline: none;
  border-radius: 2px;
  background-color: #fafafa;
}

.personalInfo .int {
  margin-left: 10px;
  background-color: #fafafa;
}

.personalInfo .gender {
  margin: 10px 0px;
  padding: 10px 0px;
}

.personalInfo .female {
  margin-left: 10px;
}

.personalInfo span {
  margin-left: 10px;
}

.personalInfo .email {
  margin: 10px 0px;
  font-size: 16px;
  font-weight: 500;
  color: black;
}

.personalInfo button {
  padding: 10px 25px;
  margin: 20px 0px;
  background-color: #ef0081;
  border: none;
  color: white;
}

.payment .card {
  text-align: left;
  padding: 10px;
}
.payment .block {
  display: block;
  padding: 10px;
  margin-left: 5px;
}
.payment h3 {
  text-align: left;
  padding: 15px;
  font-weight: 300;
  /* background-color: #ef0081; */
  /* color: white; */
  border-bottom: 1px solid rgba(128, 128, 128, 0.239);
}
.payment button {
  padding: 8px 20px;
  background-color: #ef0081;
  color: white;
  border: none;
  /* border-radius: 30px; */
  margin: 20px;
  margin-left: 450px;
}
.payment .mainDiv {
  width: 50%;
  position: relative;
  padding: 10px;
  margin: 50px auto 50px;
  text-align: center;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.payment button:focus {
  outline: none;
}
.payment input {
  margin-right: 5px;
}
.payment.inputDiv {
  width: 25%;
}
.manage {
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin: 40px auto;
  padding: 5px 15px;
  margin-left: 20px;
}
.manage .userAddress {
  background-color: #fafafa;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  margin: 10px;
  text-align: center;
  padding: 15px;
}
.manage .userAddContainer {
  margin: 15px 20px;
}
.manage .userAddress .addressBtn {
  background-color: #e0e0e0;
  border: none;
  padding: 8px 10px;
}
.manage form input {
  margin: 30px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.manage .main {
  margin: 40px 20px 10px 20px;
}

.manage .address {
  padding: 10px 10px 30px 10px;
  margin: 10px 20px;
}

.manage .address .add {
  font-size: 25px;
  margin: 10px 10px 20px 10px;
}

.manage .address .location {
  background-color: #2874f0;
  padding: 15px 0px;
  width: 230px;
  font-size: 15px;
  text-align: center;
  margin: 15px 5px;
  color: white;
}

.manage .address .int {
  width: 240px;
  padding: 10px 10px 20px 10px;
  margin: 8px 5px;
  background-color: #fafafa;
  outline: none;
  border-radius: 2px;
  border: 1px solid #e0e0e0;
}

.manage .address .area {
  width: 490px;
  padding: 10px 10px 30px 10px;
  margin: 5px;
  background-color: #fafafa;
  border-radius: 2px;
  border: 1px solid #e0e0e0;
}

.manage .address .type {
  margin: 10px 20px;
}

.manage .address .inttype {
  margin: 10px;
}

.manage .savebtn {
  margin: 10px;
}

.manage .savebtn .save {
  background-color: #ef0081;
  padding: 10px 40px;
  /* width: 230px */

  font-size: 14px;
  text-align: center;
  color: white;
  border: none;
}
.manage .inputAddress {
  margin: 10px;
}
.verification {
  position: relative;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.verification .inputs {
  width: 25%;
  margin: 100px auto 100px;
}

.verification .inputs input {
  display: block;
  width: 100%;
  padding: 15px 15px 15px 11px;
  margin-bottom: 20px;
  border: 1px solid #62575f3f;
  border-radius: 2px;
  border: 1px solid #e4e4e4;
}

.verification .inputs .center {
  text-align: center;
}

.verification .inputs .center button {
  width: 100%;
  padding: 14px 10px;
  border: none;
  border-radius: 30px;
  background-color: #62575f;
  text-align: center;
  color: white;
  margin-bottom: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.verification .inputs .center button:hover {
  background-color: #ef0081;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.order {
  /* background-color: rgb(200, 224, 241); */
  height: 100vh;

  background-size: cover;
  width: 100%;
  position: relative;
}

.orderConfirmed {
  /* margin:150px auto 150px; */
  width: 100%;
  background-color: rgb(200, 241, 237);
  margin: 0;
  /* margin-left: 300px; */
  position: absolute;
  top: 30%;
  left: 20%;
}
.order {
  background-color: rgba(211, 211, 211, 0.226);
  width: 50%;
  height: 450px;
  margin: 100px auto 100px;
  padding: 10px;
  border-radius: 50px;
}
.order .card {
  text-align: center;
  /* background-color: #9990953a; */
  height: 230px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
  padding: 29px;
}
.orderConfirmed h1 {
  color: skyblue;
  font-weight: bold;
  padding-top: 60px;
}
.paymentFail {
  background-color: rgba(211, 211, 211, 0.226);
  width: 45%;
  height: 350px;
  margin: 100px auto 100px;
  padding: 10px;
  border-radius: 50px;
}
.paymentFail h1 {
  text-align: center;
}
.paymentFail p {
  text-align: center;
}
.paymentConfirmed {
  background-color: rgba(211, 211, 211, 0.226);
  width: 45%;
  height: 350px;
  margin: 100px auto 100px;
  padding: 10px;
  border-radius: 50px;
}
.paymentConfirmed h1 {
  text-align: center;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 15px;
  height: 16px;
  margin: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.orderSection {
  margin-top: 40px;
}
.orderSection .orderWraper {
  margin: 15px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.orderSection .orderWraper .orderImg {
  padding: 40px;
}
.orderSection .orderWraper .orderDetails {
  /* padding: 20px; */
  margin-top: 25px;
}
.orderSection .orderWraper h4 {
  margin-top: 50px;
  padding: 10px;
  padding-left: 40px;
  font-weight: bold;
}
.orderSection .orderWraper .status {
  padding: 40px;
  /* margin-top: 70px; */
}
.orderSection .orderWraper .status span {
  padding: 15px;
}
.sliderImages {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
}
.sliderContent {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.sliderContent h1 {
  font-size: 96px;
  color: #fff;
}
.sliderContent p {
  font-size: 24px;
  color: #fff;
}
.indicators {
  margin-top: -64px !important;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
}
.indicators > div {
  width: 14px !important;
  height: 14px !important;
}
