.offer {
  .bgimg {
    height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;
    // background-attachment: fixed;
    position: relative;
    .layer {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $transperant_color;
    }
    .textcenter {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .Shead {
        font-size: 23px;
        text-transform: uppercase;
        letter-spacing: 0.06cm;
      }
      h3 {
        font-size: 50px;
        padding: 0px 0px 35px 0px;
        color: $textscolor;
        letter-spacing: 0.2cm;
        text-transform: uppercase;
      }
      .date {
        font-size: 50px;
      }
      h1 {
        font-size: 140px;
        color: $textscolor;
        letter-spacing: 0.3cm;
        text-transform: uppercase;
      }
      button {
        background-color: $black_color;
        color: $white;
        border: none;
        margin: 20px 0px;
        padding: 15px 35px;
        border-radius: 30px;
        letter-spacing: 0.1cm;
        transition: 1s;
        &:hover {
          background-color: $textcolor;
          transition: 1s;
        }
      }
    }
  }
}
