.orders {
  .content {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    // border: 1px solid gray;
    margin: 40px auto;
    text-align: center;
    margin-left: 20px;
    // height: 20px;
    .rowstyle {
      border-bottom: 1px solid gray;
      margin: 0px 0px;
      p {
        padding: 10px;
        margin-top: 10px;
        background-color: #2874f0;
        color: white;
      }
      .track {
        padding: 10px;
        margin-top: 10px;
        background-color: transparent;
      }
    }
    .rowpadd {
      // border: 1px solid gray;
      border-bottom: 1px solid gray;
      margin: 0px 0px;
      img {
        margin: 20px;
      }
      p {
        margin: 20px;
      }
    }
    .roworder {
      margin: 10px 0px;
      .order-on {
        text-align: left;
        margin: 5px 20px 8px 0px;
      }
      .total-order {
        text-align: right;
        margin-right: 20px;
        margin: 5px 0px 8px 30px;
      }
    }
  }
}
