.personalInfo {
  margin: 40px 0px;
  padding: 10px 30px;
  width: 100%;
  margin-left: 20px;
  // border: 1px solid gray;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  .head {
    font-size: 18px;
    font-weight: 500;
    color: black;
    padding: 10px 0px;
  }
  .edit {
    display: inline-block;
  }
  .deactive {
    margin-top: 20px;
  }
  .inputs {
    padding: 12px 10px;
    width: 30%;
    border: 1px solid #e0e0e0;
    outline: none;
    border-radius: 2px;
    background-color: #fafafa;
  }
  .int {
    margin-left: 10px;
    background-color: #fafafa;
  }
  .gender {
    margin: 10px 0px;
    padding: 10px 0px;
  }
  .female {
    margin-left: 10px;
  }
  span {
    margin-left: 10px;
  }
  .email {
    margin: 20px 0px;
    font-size: 18px;
    font-weight: 500;
    color: black;
  }
}
