$primary_color: #62575f;
$secondary_color: #ef0081;
.productlist {
  margin-bottom: 40px;
  position: relative;
  width: 100%;
  .row {
    margin: 0px;
    margin-top: 50px;
  }
  p {
    background-color: $primary_color;
    color: white;
    width: 50%;
    padding: 14px 24px;
    border-radius: 30px;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
    &:hover {
      background-color: $secondary_color;
    }
  }

  ul {
    list-style-type: none;
  }
  // ul li::before {
  //   content: "\2022";
  //   color: $secondary_color;
  //   font-weight: bold;
  //   display: inline-block;
  //   font-size: 28px;
  //   width: 1em;
  //   margin-left: -1em;
  // }
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;

    .check {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
  }
  li {
    padding: 10px;
    border-bottom: 1px dashed rgba(128, 128, 128, 0.219);
    &:hover {
      color: $secondary_color;
    }
  }

  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 15px;
    color: rgba(128, 128, 128, 0.938);
  }
  // span {
  //   border: 1px solid gray;
  //   padding: 10px;
  //   margin: 5px;
  //   text-align: center;
  //   margin-left: 13px;
  // }
  .spanmarg {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  h2 {
    display: inline;
    font-size: 16px;
    margin: 20px;
  }
  i {
    font-size: 17px;
  }
  .card {
    button {
      display: none;
      background-color: $primary_color;
      margin: 10px;
      padding: 10px 20px;
      border-radius: 4px;
      color: white;
      font-size: 17px;
      border: 1px solid $secondary_color;

      &:hover {
        background-color: $secondary_color;
        transition: 0.4s;
        border: 1px solid $primary_color;
      }
    }
  }
  .h1color {
    background-color: $secondary_color;
    &:hover {
      border: 1px solid $secondary_color;
    }
  }
  .bordercolor {
    border: 1px solid $primary_color;
    &:hover {
      border: 1px solid $secondary_color;
    }
  }
  .feature {
    background-color: $primary_color;
    color: white;
    width: 50%;
    padding: 14px 30px;
    border-radius: 30px;
    font-size: 13px;
    letter-spacing: 1px;
    margin-left: 0px;
    &:hover {
      background-color: $secondary_color;
      transition: 0.4s;
    }
  }

  .sortmarg {
    position: absolute;
    left: 50%;
    top: 0%;
  }
  .product {
    .row {
      margin: 0px;
    }

    img {
      width: 100%;
      transition: 0.4s;
      border-radius: 10px;
      // &:hover {
      //   transition: 0.4s;
      //   transform: scale(1.1);
      // }
    }

    h4 {
      text-align: center;
      color: gray;
      font-weight: bold;
      padding: 5px;
      &:hover {
        color: rgb(219, 72, 146);
      }
    }
    h5 {
      text-align: center;
    }
    h3 {
      text-align: center;
      color: rgba(128, 128, 128, 0.541);
    }
    .col-sm-3 {
      margin-bottom: 30px;
      margin-top: 50px;
    }
  }
  .featuremarg {
    margin-right: 60px;
  }
  .center {
    text-align: center;
  }
  .saletext {
    width: 50%;
    text-align: center;
  }
}
