.productDetails {
  .blockElement {
    display: inline-block;
  }
  padding: 100px 0px;
  .rowpadd {
    margin: 0px;
    padding: 40px 0px;
    img {
      cursor: pointer;
    }
    .imgmarg {
      margin-bottom: 30px;
      border-radius: 10px;
    }
    .text {
      padding-left: 50px;
      .heading {
        font-size: normal;
        font-size: 34px;
        text-transform: inherit;
      }

      .price {
        color: $textcolor;
        font-size: 22px;
        font-weight: bold;
      }
      .ratings {
        font-size: 20px;
      }
      .description {
        font-size: 15px;
        color: $text_color;
        font-weight: 300;
        line-height: 1.7;
      }
      .font {
        font-size: 15px;
        margin: 15px 0px;
        color: $text_color;
      }
      .size {
        // width: 30%;
        border: 2px solid $textcolor;
        padding: 5px 15px;
        border-radius: 40px;
        text-align: center;
        margin: 15px 5px 10px 5px;
        cursor: pointer;
      }
      .color_cloths {
        width: 20%;
        padding: 10px 10px;
        border: 2px solid $textcolor;
        margin: 10px 5px;
        cursor: pointer;
      }
      .font_color {
        color: $layer_color;
      }
      .color {
        color: $textcolor;
        font-size: 22px;
        font-weight: bold;
      }
      .quantity {
        border: 1px solid $text_color;
        padding: 6px 8px;
      }
    }
  }
  .breakadd {
    margin: 0px 0px 50px 0px;

    .button {
      background-color: $text_color;
      color: $white;
      border: none;
      border-radius: 20px;
      padding: 10px 30px;
      &:hover {
        background-color: $textcolor;
      }
    }

    .margin {
      margin: 0px 10px;
    }

    .btnmargin {
      margin-top: 30px;
    }
  }
  .button {
    background-color: $text_color;
    color: $white;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    &:hover {
      background-color: $textcolor;
    }
  }
  .break {
    margin: 50px 0px 10px;
  }
  .margin {
    margin: 0px 10px;
  }
  .icon_box {
    margin: 15px 0px;
    .box {
      border: 1px solid gray;
      padding: 10px 20px;
      margin: 2px;
    }
  }
  .margin1 {
    margin: 20px -15px;
  }
  .paragarph {
    margin: 30px 8px;
    font-size: 14px;
    color: $text_color;
    font-weight: 300;
    line-height: 1.7;
  }
  .rowpadding {
    padding: 50px 0px 40px 0px;
    .textCenter {
      text-align: center;
      margin: 50px 0px;
      h4 {
        font-size: 20px;
        color: #de5648;
        text-transform: capitalize;
      }
      h2 {
        font-weight: bold;
      }
    }
  }
}
