.product {
  .row {
    margin: 0px;
  }

  img {
    width: 100%;
    transition: 0.4s;
    border-radius: 10px;
    // &:hover {
    //   transition: 0.4s;
    //   transform: scale(1.1);
    // }
  }

  h4 {
    text-align: center;
    color: gray;
    font-weight: bold;
    padding: 5px;
    &:hover {
      color: rgb(219, 72, 146);
    }
  }
  h5 {
    text-align: center;
  }
  h3 {
    text-align: center;
    color: rgba(128, 128, 128, 0.541);
  }
  // .col-sm-3 {
  //   margin-bottom: 30px;
  //   margin-top: 50px;
  // }
}
