.register {
  // position: relative;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  .registerpage {
    width: 25%;
    margin: 100px auto 100px;

    input {
      display: block;
      width: 100%;
      padding: 15px 15px 15px 11px;
      margin-bottom: 20px;
      border: 1px solid #62575f3f;
      border-radius: 2px;
      border: 1px solid #e4e4e4;
    }
    .verify {
      position: relative;
      left: 105%;
      bottom: 60px;
      padding: 5px 20px;
      background-color: #62575f;
      color: white;
      border: none;
      border-radius: 30px;
      &:hover {
        background-color: #ef0081;
        transition: 0.4s;
      }
    }
    .submit {
      position: relative;
      left: 105%;
      bottom: 60px;
      padding: 5px 20px;
      background-color: #62575f;
      color: white;
      border: none;
      border-radius: 30px;
      &:hover {
        background-color: #ef0081;
        transition: 0.4s;
      }
    }

    .button {
      width: 100%;
      padding: 14px 10px;
      border: none;
      border-radius: 30px;
      background-color: #62575f;
      text-align: center;
      color: white;
      margin-bottom: 15px;
      transition: 0.4s;
      &:hover {
        background-color: #ef0081;
        transition: 0.4s;
      }
    }
    .center {
      text-align: center;
    }

    a {
      color: #62575f;
      text-decoration: underline;
      &:hover {
        color: #ef0081;
      }
    }
  }
}
