.signinpage {
  position: relative;
  width: 100%;

  .signin {
    // position: absolute;
    // width: 100%;
    // top: 50%;
    // left: 35%;
    // margin-top: 100px;
    // margin-bottom: 100px;
    width: 25%;
    margin: 100px auto 100px;

    // transform: translate(-50%, -150%);
    input {
      display: block;
      width: 100%;
      padding: 15px 15px 15px 11px;
      margin-bottom: 20px;
      border: 1px solid #62575f3f;
      border-radius: 2px;
    }
    .center {
      text-align: center;
      // width: 25%;
    }
    h4 {
      font-size: 16px;
      color: gray;
      padding: 5px;
      &:hover {
        color: #ef0081;
      }
    }
    button {
      width: 100%;
      padding: 14px 10px;

      border: none;
      border-radius: 30px;

      background-color: #62575f;
      color: white;
      margin-bottom: 15px;
      transition: 0.4s;
      &:hover {
        background-color: #ef0081;
        transition: 0.4s;
      }
    }
    a {
      color: #62575f;
      text-decoration: underline;
      // display: inline-block;
      display: block;
      padding: 15px;
      &:hover {
        color: #ef0081;
        transition: 0.4s;
      }
    }
    .return {
      text-decoration: none;
    }
  }
}
