.Slider {
  .Bgimg {
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    position: relative;

    .layer {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $transperant;
    }
    .textcenter {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 50%;
      left: 25%;
      right: 0px;
      transform: translateY(-60%);

      h1 {
        color: $white;
        font-size: 80px;
        font-weight: bold;
        text-transform: capitalize;
        background-color: $color_transparency;
        display: inline-block;
        width: 40%;
      }
      p {
        color: $colorText;
        font-size: 40px;
        padding: 10px 0px;
        text-transform: capitalize;
      }
      button {
        background-color: $colorText;
        color: $white;
        padding: 10px 30px;
        border: none;
        border-radius: 50px;

        transition: 1s;
        &:hover {
          background-color: $textcolor;
          transition: 1s;
        }
      }
    }
  }
}
