$sideColor: #878787;
.sidebar {
  margin: 30px 0px 50px 0px;
  .hello {
    background-color: #fff;
    width: 100%;
    padding: 5px 0px;
    margin: 40px 20px 20px 20px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    h3 {
      //   text-align: left;
      margin-left: 20px;
      //   padding-bottom: 10px;
    }
    .img {
      margin-left: 20px;
    }
  }
  .orders {
    width: 100%;
    margin: 20px;
    .active {
      text-decoration-line: none;
      color: $sideColor;
      &:hover {
        color: #2874f0;
      }
    }
    .selectedLink {
      color: #2874f0;
    }

    h3 {
      background-color: #fff;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
      padding: 20px 0px;
      text-align: left;
      border-bottom: 1px solid #878787;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 600;
      padding-left: 50px;
    }
  }
  .setting {
    width: 100%;
    margin: -20px 20px;
    .active {
      text-decoration-line: none;
      color: $sideColor;
      &:hover {
        color: #2874f0;
      }
    }
    .selectedLink {
      color: #2874f0;
    }

    h3 {
      background-color: #fff;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
      padding: 20px 0px 10px 0px;
      text-align: left;
      text-transform: uppercase;
      color: $sideColor;
      font-size: 16px;
      font-weight: 600;
      padding-left: 50px;
    }
    p {
      padding: 20px 0px;
      text-align: left;
      background-color: #fff;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
      margin: -20px 0px;

      border-bottom: 1px solid gray;
      font-size: 14px;
      font-weight: 500;
      padding-left: 50px;
    }
  }
  .logout {
    width: 100%;
    margin: -20px 20px;
    .active {
      text-decoration-line: none;
      color: $sideColor;
      &:hover {
        color: #2874f0;
      }
    }
    .selectedLink {
      color: #2874f0;
    }

    h3 {
      background-color: #fff;
      padding: 20px 0px;
      text-align: left;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 600;
      padding-left: 50px;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }
  }
}
