$white: white;
$colorText: #d48490;
$color_transparency: transparentize($colorText, 0.8);
$textcolor: #ef0081;
$transperant: transparentize($textcolor, 1);

$layer_color: orange;
$textscolor: #b10a0a;
$transperant_color: transparentize($layer_color, 0.9);

$lightcolor: lighten($textcolor, 20%);
$textColor: yellow;
$horrizontal_textClor: #b3b3b3;
$black_color: black;
$black_transperant: transparentize($black_color, 0.8);
$text_color: #62575f;
$checkout_color: #d9d9d9;
